# Docker container ip
function dockip() {
  docker inspect --format '{{ .NetworkSettings.IPAddress }}' "$@"
};

# Create folder and switch into it.
mcd() {
  mkdir -p $1
  cd $1
}

# Kill all related processes.
killps() {
  printf "🟡 Killing processes...\n"
  kill `ps -ef | grep $1 | awk '{print $2}'`
  printf "🟡 Restart affected applications!\n"
}
